
@font-face {
    font-family: Walkway-bold;
    src: url("/Walkway UltraBold.ttf") format("truetype");
}

@font-face {
  font-family: brewery;
  src: url("/café & brewery 2.0.ttf") format("truetype");
}

@font-face {
  font-family: brush;
  src: url("/strokes.ttf") format("truetype");
}

@font-face {
  font-family: Walkway;
  src: url("/Walkway SemiBold.ttf") format("truetype");
}


body{
  overflow: hidden;
  font-family: Walkway, sans-serif;
    margin:0;
}
h1{
    font-size: 2em;
    font-family: Walkway-bold;
}

p{
  font-family: brewery;
  line-height: 1.5em;
  margin: 5vw;
}
header {
  top: 0;
  position: absolute;
  background-color: black;
  z-index: 100;
  width: 100%;
  height: 7vh;
  color:white;
  font-size: 3em;
}
button, input[type = 'submit']{
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: #FFDF80 ;
  height: auto;
  width: auto;
  font-size: 1em;

}

footer {
  position: relative;
  background-color: black;
  z-index: 100;
  width: 100%;
  height: 20vh;
  bottom: 0;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex-around{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}
#popin{
  position: absolute;
  margin-top: -100vh;
  transition: margin-top 400ms ease-in-out,
  top 400ms ease-in-out;
  height:80vh;
  padding:5px;
  background-color:#E66041;
  border-radius: 20px;
  width: 80vw;
  left:50%;
  margin-left: -40vw;
  top:auto;
}

#popin h3{
  width: 80vw;
  text-align:center;
}
.seeable{
  top: 50% !important;
  margin-top: -35vh !important;
  z-index:3000;
}
.covering{
  height:100vh;
  width:100vw;
  position: fixed;
  z-index: 2999;
  background-color: grey;
  opacity: .25;
  margin-top: -7vh;
}
.submet{
  min-width: 150px;
  padding: 7px;
  margin: 5px;
  font-family: brush;
  font-size: 1.2em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*--------------------------*/
/* Main Body */
/*--------------------------*/

.split-container {
  margin-top: 7vh;
  height: 93vh;
  overflow: hidden;
}

.split-container input{
  display:none;
}

.split-slider {
  height: 300vh;
  transition: transform 500ms ease-in-out;
}


.split-slider  div {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#upper {
  background-color:#FFC980;
  flex-wrap: wrap;
}

#mid {
  background: #FFC980;
  overflow: hidden;
}


#lower {
  background: blue;
  flex-wrap: wrap;
}

#choosetop:checked ~ #slider {
  transform: translateY(0);
}

#choosemid:checked ~ #slider {
  transform: translateY(-33.333%);
}

#choosebottom:checked ~ #slider {
  transform: translateY(-66.666%);
}
#topside, #bottomside{
  height: 70vh;
  cursor: pointer;
  transform: skew(0,10deg);
  
}
#topside{
  margin-top: -25.5vh;
  z-index:10;
  background: black; 
  color: white;
}
#topside .bg-cover{
  opacity: 8;
  transition: opacity 300ms ease;
  left: 0;
  top:0;
  background-image: url("/img/topside.jpg");
  background-size: cover;
}

#bottomside:hover > .bg-cover, #topside:hover > .bg-cover{
  opacity:1;
}
#bottomside{
  /*background: #E66041;*/
  color:white;
  overflow:hidden;
  background: black;
}
#bottomside .bg-cover{
  opacity: .8;
  transition: opacity 300ms ease;
  left: 0;
  top:0;
  background-image: url('/img/reserve.jpg');
  background-size: cover;
}
#bottomside h1, #topside h1{
  position:absolute;
  top:30vh;
  width:100vw;
  text-align:center;
  z-index:2;
}
#topside *, #bottomside *{
  transform: skew(0,-10deg);
}
/*-----------------------*/
/*Side content*/
/*-----------------------*/

#order{
  background:#FF9405;
}
#bakery{
  background:#FFC980;
}
#menu-bake{
  background: #FFB148;
}
#menubake > div{

}
#menu-bake .switchmenu{
  position:absolute;
  bottom: 20vh;
  right:5vw;
}
#menu-bake .flex-center{
  flex-wrap: wrap;
}
#reserve{
  background: #E94B25;

}
#restaurant{
  background:#E66041;
}
#restaurant h1, #bakery h1{
  margin-right: 30vw;
}
#restaurant p, #bakery p{
  margin-left: 20vw;
}
#menu-rest{
  background:#E9A291;
}

#menu-rest .switchmenu{
  position:absolute;
  top:7vh;
  right:8vw;
}
.menuitem{
  padding:10px;
  font-size: 1.25em;
  text-align: center;
  flex-wrap: wrap;
  background: #FFDF80;
  border-radius: 10px;
  margin: 7px;
}
.menuitem img{
  max-height: 12vh;

}

.menuitem span{
  width:100%;
}
.menuitem{
  max-height: 20vh;
  max-width:20vw;
}
.item{
  display: flex;
  width: 90vw !important;
  height:auto !important;
  max-height: 12vh !important;
}
.item label{
  font-size: 1.5em ;
  border:none !important;
}
.item span{
  font-size: 1.7em;
}
.itemdetails{
  background-color: #FFDF80;
}
.itemdetails button{
  position: absolute;
  top: 7%;
  left:5%;

}
.itemdetails img{
  max-height: 30vh;
  width:auto;
}
.itemdetails h3{
  width: 100%;
  text-align: center;
  margin-bottom: 5vh;
}
.itemdetails .flex-center *{
  margin:7px;
}
#order input{
  display: inline;

  max-width: 150px;
}
#order input[placeholder="Name?"]{
  font-size: 1em;
  padding: 5px;
  width: 75vw;
  min-width: 250px;
}
.slider-item input, #contact input{
  margin:3px;
  background: lavender;
  border: 2px solid black;
  border-radius: 7px;
  padding: 3px;
  font-size: .8em;

}
.slider-item label{
  border:none !important;

}
#reserve input, #contact input, textarea{
  display: inline-block;
  font-size: 1.3em;
  padding: 4px;
  min-width: 250px;
  width: 75vw;
  margin: 10px 25vw;
  background: lavender;
}

#reserve div{
  height: auto !important;
  text-align: center;
}
#reserve input[type="checkbox"]{
  margin: 0 0vw;
  width: auto !important;
  min-width:10px;
}

@media screen and (max-width: 600px){
  #reserve input, #order input{
    display: inline;
    max-width: 90px;
  }
  .slider-item input{
    font-size: .6em;
  }
  .menuitem span{
    font-size: .7em;
  }
  h1{
    font-size: 1.5em !important;
  }
}
/*-----------------------*/
/* Slider*/
/*-----------------------*/
#upper nav, #lower nav{
  width: 80vw;
  left:50%;
  margin-left:-40vw;
  position: absolute;
  z-index:100;
}
#upper nav{
  top: 2vh;
}
#lower nav{
  position: absolute;
  
  bottom:10vh;
}
#upper label, #lower label{
  display: inline;
  cursor: pointer;
  font-size: 4vw;
  text-align:center;
  border: 2px solid red;
  border-radius: 7px;
  padding:5px;
}
#upper ul, #lower ul{
  justify-content: space-around;
}

.slider-content {
  height: 100vh !important;
  width: 300vw !important;
  margin-left: -0vw;
  overflow: hidden;
  position: absolute;
  display: flex;
  transition: transform 300ms ease;
  justify-content:flex-start;
  
}
.slider-item {
  width: 100vw !important;
  height: 105vh;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  overflow:hidden;
  padding:00;
}
.slider-item .flex-center{
  flex-wrap: wrap;
}
.slider-item h1{
  width: 100vw;
  text-align: center;
}
.slider-item p{
  max-width: 600px;
}
#topview1:checked ~ .slider-content{
  transform: translateX(0);
}
#topview2:checked ~ .slider-content{
  transform: translateX(-33.333%);
}
#topview3:checked ~ .slider-content{
  transform: translateX(-66.666%);
}
#bottomview1:checked ~ .slider-content{
  transform: translateX(0);
}
#bottomview2:checked ~ .slider-content{
  transform: translateX(-33.333%);
}
#bottomview3:checked ~ .slider-content{
  transform: translateX(-66.666%);
}


/*-------------------------
Center stuff
--------------------------*/
#center-content{
  color: white;
}

#center-content div{
  flex-wrap: wrap;
  align-content: space-around;

    min-width: 300px;
    width: 60vw;
    max-width: 700px;
}
.center-nav h1{

}
#login-buttons input{
  display: inline !important;
}
#contact{
  flex-wrap: wrap;
}
#contact a{
  color:white;
}
#contact input, textarea{
  min-width: 250px;
  width: 75vw;
  max-width: 400px;
  margin: 10px 25vw;
}
#contact button{
  margin: 0 35vw;
}
.review{
  max-width: 350px;
}
/*--------------------------*/
/* Circle */
/*--------------------------*/
.center-nav {
  height: 0;
}

.circle {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  /*background-color: #7F5537;*/
  background-color: black;
  transition: border-radius 400ms, margin-left 400ms, left 400ms, width 400ms, margin-top 400ms, height 400ms, top 500ms ease;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.center-nav input {
  display: none;
}
.circle .bg-cover{
  z-index: -1;
  position: absolute;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  background: url("/img/brick.jpg");
  opacity:.67;
}

.circle nav {

  transition: opacity 700ms ease,
               display 300ms ease;
  flex-grow: 1;
  justify-content: space-around;
  height: 100%;

}

.viewable{
  display: block !important;
  
  max-width: 40vw;
}
.hidden{
  display: none !important;
}

#closer{
  position: absolute;
  top: 17vh;
  right:17vh;
  font-size: 2em;
  z-index:5000;
  color: white;
}

.circle nav ul {

  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.circle nav label,
.nav-expand {
  display: inline;
  cursor: pointer;
  margin: 0px 0%;
  font-size: 6vh;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.circle nav label div,
.nav-expand div {
  font-size: 2vw;
}

.circle label {
  cursor: pointer;
  height: 8vmax;
  width: 8vmax;
  background-size: cover;

}

.circle .toggle {
  font-size: 8vmax;
  height:8vmax;
  background-image: url("/circlelogo.png");
}

.circle{
		width: 13vw;
		height: 13vw;
  min-width:9vmax;
  min-height:9vmax;

		margin-top: -6.5vw;
		margin-left: -6.5vw;
		border-radius: 10vw;
		font-size: 90%;
  
	}

#center-content{

}
.navontop{
  top: 90vh;
}

.navonbottom{
  top: 3.5vh;
}

	#toggler:checked ~ .circle{
		border-radius: 0rem;
		width:100vw;
		margin-left:0vw;
		left:0;
		height:12vh;
		margin-top:-4vh;
	}
	#resizer:checked ~ .circle{
		border-radius: 0rem;
		width:80vw;
		height:75vh;
		margin-left: -40vw;
		left:50%;
		margin-top:-35vh !important;
	}
@media screen and (max-width: 600px){
  .circle{
		width: 15vw;
		height: 15vw;
		margin-top: -3.5vw;
		margin-left: -7vw;
		border-radius: 10vw;
		font-size: 90%;
    text-align:center;
	}
  #toggler:checked ~ .circle nav{
    width: 45%;
  }
	#toggler:checked ~ .circle{
		border-radius: 0rem;
		width:100vw;
		margin-left:0vw;
		left:0;
    
		height:12vh;
		margin-top:-4vh;
	}
  #resizer:checked ~ .circle{
    border-radius: 0rem;
    width:80vw;
    height:75vh;
    margin-left: -40vw;
    left:50%;
    margin-top:-35vh !important;
  }
}
.nav-order{
  background-image: url("/order.png");
}
.nav-bakery{
  background-image: url("/bakery.png");
}
.nav-about{
  background-image: url("/about.png");
}
.nav-why{
  background-image: url("/gluten.png");
}
.nav-menu{
  background-image: url("/menu.png");
}
.nav-reviews{
  background-image: url("/reviews.png");
}
.nav-restaurant{
  background-image: url("restaurant.png");
}
.nav-reserve{
  background-image: url("/reserve.png");
}
.nav-contact{
  background-image: url("/contactus.png");
}
.nav-rewards{
  background-image: url("/rewards.png");
}

/*---------------------------
Animate
-------------------*/
.animate-container{
   position: absolute;
  z-index: 1000;
  background: #FFDF80;
  width:100vw;
  height:100vh;
  -webkit-animation: hide 5s cubic-bezier(0, 1, 0.5, 1) 3s 1 normal forwards;
   animation: hide 5s cubic-bezier(0, 1, 0.5, 1) 3s 1 normal forwards;
  webkit-animation-delay: 4.8s !important;
          animation-delay: 4.8s !important;

}

.animate-container h1 {
  font-size: 2em;
}

.animate-inout, .animate-reveal {
  
  text-align:center;

  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0;
  
}
.animate-inout{
  -webkit-animation: in-out 3s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
   animation: in-out 3s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
} 
.animate-reveal{
  -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
   animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
} 
.animate-hide{
  -webkit-animation: hide 2s cubic-bezier(0, 1, 0.5, 1) 2.25s 1 normal forwards;
   animation: hide 2s cubic-bezier(0, 1, 0.5, 1) 2.25s 1 normal forwards;
}

.animate-item {
  top:15vh;
  position: absolute;
  left:50%;
  width: 70vw;
  font-size: 3em;
  margin-left: -35vw;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
  font-family: brush;
}
.animate-item h1, .animate-inter h1{
    font-family: brush;
}

.animate-second {
  position: absolute;
  left:50%;
  width: 70vw;
  margin-left: -35vw;
  top:40vh;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.animate-third {
  position: absolute;
  left:50%;
  width: 70vw;
  margin-left: -35vw;
  top:70vh;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.animate-inter{
  font-family: brush;
  top:50vh;
  position:absolute;
  left:30vw;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.animate-fourth {
  top:40vh;
  position:absolute;
  left:40vw;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  font-family: Walkway-bold;
}

.animate-fifth {
  top:40vh;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  font-family: Walkway-bold;
}

.animate-sixth {
  top:70vh;
  font-family: Walkway-bold;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}
.animate-circle{
  transform: scale(.01);
  animation: bounce 1s cubic-bezier(0, 1, 0.5, 1) 5.7s 1 normal forwards;
}

.animate-label-0{
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
  animation-duration: .6s;
}
.animate-label-1{
  -webkit-animation-delay: 350ms;
  animation-delay: 350ms;
  animation-duration: .6s;
}
.animate-label-2{
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
  animation-duration: .6s;
}
.animate-label-3{
  -webkit-animation-delay: 450ms;
  animation-delay: 450ms;
  animation-duration: .6s;
}
.animate-label-4{
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  animation-duration: .6s;
}
.animate-label-5{
  -webkit-animation-delay: 550ms;
  animation-delay: 550ms;
  animation-duration: .6s;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    transform: skew(0,-10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: skew(0,-10deg);
  }
}
@-webkit-keyframes in-out {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes in-out {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes hide {
  100% {
    opacity: 0;
    
  }
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes hide {
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    
  }
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bounce {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%{
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  0% {
    opacity: 1;
    -webkit-transform: scale(.1);
            transform: scale(.1);
  }
}

@keyframes bounce {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%{
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  0% {
    opacity: 1;
    -webkit-transform: scale(.1);
            transform: scale(.1);
  }
}

