<template name = "aboutus">
    <div id="aboutus">
    <h1>hey there!</h1>
    <p>
        Welcome to Clean Plate! Both a restaurant and a bakery, we're dedicated
        to bringing you the most wholesome and nutritious
        ingredients, no strings attached. We believe that pleasure
        of enjoying fresh, natural food should be available to everyone,
        and that is why we always provide the freshest selection of
        foods made from ingredients selectively picked from local farmers
        markets. Simply natural. No hidden ingredients. No secret recipes.
    </p>


    </div>
</template>

<template name="glutenfree">
    <div id="glutenfree">
        <h1>Why Gluten Free?</h1>
        <p>
            Gluten is a general name for proteins found in wheat, rye,
            barley, and triticale, and acts as the “glue” that holds
            food together. 1% of Americans
            have a genetic, autoimmune disorder called celiac disease,
            which can cause problems for their small intestine if they
            digest gluten products. However, other people have chosen
            to go on a gluten free diet to cleanse their body and feel
            revitalized. We would like to cater to all of those who
            have restricted diets or would just simply like to try out
            a new style of food.
        </p>


    </div>
</template>

<template name="contact">
    <h1 class="full-width-center">Contact Us!</h1>
    <div class="formcontainer preference">

    <form action="" id="contact" class=" flex-center">
        <input type="text" placeholder="Name?">
        <input type="email" placeholder="Email?">
        <textarea name="message" id="" cols="30" rows="10"  placeholder="What do you have to say?"></textarea>
        <button>Submit</button>
    </form>

    </div>

    <div class="flex-center anotherformcontainer">
        <div class="social-media">
            <ul class="social-list">
                <li class="item-1">
                    <a href="#" class="social-link" target="_blank">
                        <span class="entypo-twitter-circled"></span>
                    </a></li>
                <li class="item-2"><a href="https://www.facebook.com/CleanPlate12345" class="social-link" target="_blank">
                    <span class="entypo-facebook-circled"></span></a></li>
                <li class="item-3"><a href="#" class="social-link" target="_blank">
                    <span class="entypo-linkedin-circled"></span>
                </a></li>
                <li class="item-4"><a href="#" class="social-link" target="_blank">
                    <span class="entypo-instagrem"></span>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="flex-around">
        <h3>Built by Valencia HS FBLA | </h3>
        <h3>Gavril Moniaga, Justin Oh, Chelsea Marasigan | </h3>
        <h3>Website Design, California | </h3>
        <a style="color: white;" href="https://drive.google.com/file/d/0Bz4j97vg9k5scXJjU3p6VFpsVVk/view?usp=sharing">Attributions</a>
    </div>
    
</template>

<template name="reviews">
    <div class="flex-around">
        <h1>Hear the Buzz!</h1>
        {{#each reviews}}
            {{> review}}
        {{/each}}
    </div>
</template>

<template name="rewards">
    <h1>Good Karma.</h1>
    <p>
    Sign up today to join in on our loyalty program and receive rewards!
    You will be notified through email about future special events,
    seasonal items, and various opportunities at locations near you.
    </p>
    {{> loginButtons}}
    <p>
    Our rewards are simple: <br>
    1. If you leave a review after your first visit, you get 30% off your next purchase.<br>
    2. For every 10th visit, you get a 2 free items from our bakery.<br>
    3. For each item or meal, your account will gain 1 point.<br>
    4. Once you reach 100 points, we will mail you the legendary GOLD CARD that lets our staff know that you get 10% off of every purchase (applicable once per day).<br>

    </p>

</template>

<template name="item">
    <div class="item flex-center">
    <label for="">Item Name: </label><input type="text" value = {{name}}>
        <label for="">Quantity:</label> <input type="number" min = 0 max = 100 value={{amount}}><span class="lnr lnr-cross"></span>
    </div>
</template>

<template name="menuitem">
    <div class="menuitem flex-center">
        <img alt="Picture" src={{img}} >
        <span>{{name}}</span>

    </div>

</template>

<template name="itemdetails">
    <div class="itemdetails ">

    <button class="backbutton">Back</button>
    <h3>{{name}}</h3>
        <div class="flex-center">
    <img alt="Picture" src={{img}} >
    Calories: {{calories}}<br>
            Fat: {{fat}}g<br>
            Carbs: {{carb}}g<br>
            Protein: {{protein}}g<br>
        </div>
        <h3>{{descrip}}</h3>
    </div>
</template>

<template name="confirm">
    <h1>Success! Swing by in about 15 minutes to pick up your order.</h1>
    <button>OK</button>
</template>

<template name="confirm2">
    <h1>Success! Mark your calendar for a night of great cuisine.</h1>
    <button>OK</button>
</template>

<template name="salads">
    {{#each salads}}
        {{> menuitem}}
    {{/each}}
</template>

<template name="entrees">
    {{#each entrees}}
        {{> menuitem}}
    {{/each}}
</template>

<template name="kids">
    {{#each kids}}
        {{> menuitem}}
    {{/each}}
</template>

<template name="review">
    <div class="review">

    <blockquote>{{text}}</blockquote>
    <i>-{{name}}</i>
        <hr>
    </div>

</template>
