<template name = "aboutus">
    <div id="aboutus">
    <h1>hey there!</h1>
    <p>
        Welcome to Clean Plate! Both a restaurant and a bakery, we're dedicated
        to bringing you the most wholesome and nutritious
        ingredients, no strings attached. We believe that pleasure
        of enjoying fresh, natural food should be available to everyone,
        and that is why we always provide the freshest selection of
        foods made from ingredients selectively picked from local farmers
        markets. Simply natural. No hidden ingredients. No secret recipes.
    </p>


    </div>
</template>

<template name="glutenfree">
    <div id="glutenfree">
        <h1>Why Gluten Free?</h1>
        <p>

        </p>
    </div>
</template>

<template name="item">
    <label for="">Item Name: </label><input type="text" value = {{name}}>
    Quantity: <input type="number" max = 100 value={{amount}}>
</template>

<template name="menuitem">
    <div class="menuitem">
        {{name}}
        <img alt="Picture" src={{img}} >
    </div>

</template>